body {
    font-family: sans-serif;
}

.container{
    color: brown;
    width: 500px;
    border-width: 3px;
    border-color: rgb(47, 42, 47);
    border-style: solid;
    border-radius: 10px;
}

p {
    font-weight: bold;
}